.full-bleed {
    @include respond-above("sm") {
        width: 100%;
        grid-column: 1/-1;
    }
}

.full-bleed-wrapper {
    @include respond-below("xxl") {
        width: 100vw;
        margin-left: calc(50% - 50vw);

        html[dir=rtl] & {
            margin-right: calc(50% - 50vw);
        }
    }
}

.full-bleed-wrapper-alt {
    @include respond-below("xxl") {
        @include respond-above("sm") {
            width: 100vw;
            margin-left: calc(50% - 50vw);

            padding-inline-start: 6rem;
            padding-inline-end: 6rem;

            html[dir=rtl] & {
                margin-right: calc(50% - 50vw);
            }
        }

        @include respond-below("sm") {
            width: 100vw;
            margin-left: 50%;
            transform: translate3d(-50%, 0, 0);
            padding-inline-start: 2rem;
            padding-inline-end: 2rem;

            html[dir=rtl] & {
                margin-left: unset;
                margin-right: 50%;
                transform: translate3d(50%, 0, 0);
            }
        }
    }
}

html.page-home {
    .full-bleed-wrapper-alt {
        @include respond-below("xxl") {
            @include respond-below("sm") {
                width: 100% !important;
                padding-inline-start: unset !important;
                padding-inline-end: unset !important;
            }
        }
    } 
}

.full-bleed-menu-wrapper {
    width: 100vw;
    margin-left: calc(50% - 50vw);

    html[dir=rtl] & {
        margin-right: calc(50% - 50vw);
    }
}

.full-width {
    @include respond-above("sm") {
        width: 100%;
        grid-column: 1/-1;
    }
}

.full-bleed-main {
  @include respond-above("md") {
    display: grid;
    grid-template-columns: minmax($min, 1fr) minmax($min, $max) minmax($min, 1fr);
     width: 100%;
     grid-column: 1/-1;
  }

  > * {
    &:not(.full-width) {
      @include respond-above("sm") {
        grid-column: 2;
      }
    }
  } 
}