.split {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(1rem, var(1rem));
  
    @include respond-above(sm) {
      flex-direction: row;
      align-items: center;
    }
  }